<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="title">
{{title}}
</div>
<div>
  {{email}}
</div>
<div class="Elements">
  <table class="table">
    <tr>
      <td>Atomic Number</td>
      <td>Element Symbol</td>
      <td>Element Name</td>
      <td>Atomic Weight</td>
      <td>Is Metal?</td>
    </tr>
    <ng-container *ngFor="let Element of Elements" [ngSwitch]="Element.IsMetal">
      <tr>
        <td>{{Element.Number}}</td>
        <td>{{Element.Symbol}}</td>
        <td [ngClass]="{Green: Element.Category == 'A' ,Blue: Element.Category == 'NG'}">{{Element.Name}}</td>
        <td>{{Element.Weight}}</td>
        <td *ngSwitchCase=1>Yes</td>
        <td *ngSwitchCase=2>No</td>        
      </tr>
    </ng-container>
  </table>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>